<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/info_manage">
    <title>회원관리</title>
</head>
<body>
    <div class="container">

        <!-- 상단바 -->
        <div class="top-bar">
            <div class="bar_text">관리자모드</div>
            <a href="#" class="btn_logout">LOGOUT</a>
        </div>


        <div class="bottom-section">
            <!-- 밑에 구역 3개 -->
            <div class="menu_left">
                <!-- 왼쪽 메뉴바 만들기(수정) -->
            </div>

            <div class="menu_right">
                <ul>
                    <li><a href="mem_manage.html">회원관리</a></li>
                    <li class="now_state"><a href="#">공지사항</a></li>
                    <li><a href="goalTime.html">목표 시간 설정</a></li>
                </ul>
            </div>

            <div class="main_section">
                <div class="main_content">

                    <div class="h1_container">
                        <h1>공지사항 조회</h1>
                        <!-- 이동하기 기능넣기(수정) -->
                        <button id="btn_register"><a href="info_reg.html">등록</a></button>
                    </div>
                    
                    <div class="content">

                        <!-- 공지사항 목록 -->
                        <div class="info_list">
                            <div class="title">
                                <div class="noticeContent">공지사항 내용</div>    
                                <div class="noticeTime">등록시간</div>
                                <div class="non_btn"></div>  
                            </div>
                            
                            <!-- 주석예정 -->
                            <div class="info">
                                <div class="noticeContent">공지사항 내용</div>    
                                <div class="noticeTime">2023.09.20</div>
                                <!-- 버튼클릭시 화면전환(수정) -->
                                <button type="submit" class="btn_detail">조회</button>  
                            </div>
                            <div class="info">
                                <div class="noticeContent">공지사항 내용</div>    
                                <div class="noticeTime">2023.09.20</div>
                                <!-- 버튼클릭시 화면전환(수정) -->
                                <button type="submit" class="btn_detail">조회</button>  
                            </div>

                            
                        </div>
                

                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="/js/info_manage"></script>

</body>
</html>